html,
body {
    height: 100%;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
    font-family: Bahnschrift, sans-serif;
}

.screen {
    height: 100%;
    text-align: center;

    &:not(#startScreen) {
        animation: 0.3s ease 0s fade-in;
    }

    &:not(.show) {
        display: none;
    }
}

@keyframes fade-in {
    0% {
        display: block;
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.block-large {
    width: 30vmin;
    height: 30vmin;
    display: inline-block;
    font-size: 20vmin;
    border-radius: 10vmin;
    font-weight: bold;
    margin: 1vmin;

    & span {
        line-height: 30vmin;
        display: block;
    }

}

.block-medium {
    width: 15vmin;
    height: 15vmin;
    display: inline-block;
    font-size: 10vmin;
    border-radius: 5vmin;
    font-weight: bold;
    margin: 0.5vmin;

    & span {
        line-height: 15vmin;
        display: block;
    }

}

.block-a {
    background-color: hotpink;
    color: white;
}

.block-plus {
    background-color: gold;
}

.block-b {
    background-color: dodgerblue;
    color: white;
}

#ybluiPresents {
    height: 20vh;
    font-size: 5vmin;
    color: gray;
    opacity: 1;
    animation: 5s step-end 0s ybluiPresentsAnim;

    & span {

        line-height: 20vh;
        display: block;
    }
}

#abContainer {
    height: 40vh;
}

#abContainerMedium {
    height: 30vh;
    padding: 7.5vh;
    box-sizing: border-box;
}

#bottomText {
    height: 20vh;
    font-size: 5vmin;
}

#bottomTextMinor {
    font-size: 5vmin;
    color: gray;
}

@keyframes ybluiPresentsAnim {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    45% {
        opacity: 1
    }

    60% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes largeAAnim {
    0% {
        opacity: 1
    }

    15% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    45% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes largeBAnim {
    0% {
        opacity: 0
    }

    15% {
        opacity: 1
    }

    30% {
        opacity: 0
    }

    45% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes largePlusAnim {
    0% {
        opacity: 0
    }

    15% {
        opacity: 0
    }

    30% {
        opacity: 1
    }

    45% {
        opacity: 0
    }

    60% {
        opacity: 0
    }

    75% {
        opacity: 1
    }

    100% {
        opacity: 1
    }
}

@keyframes bottomTextAnimation {
    0% {
        opacity: 0
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

#largeA {
    animation: 5s step-end 0s largeAAnim;
}

#largeB {
    animation: 5s step-end 0s largeBAnim;
}

#largePlus {
    animation: 5s step-end 0s largePlusAnim;
}

#bottomText,
#bottomTextMinor {
    animation: 5s ease 0s bottomTextAnimation;
}

.heading {
    height: 20vh;
    font-size: 10vh;
    line-height: 20vh;
}

.option {
    height: 10vh;
    font-size: 5vh;
    line-height: 10vh;
}

.board {
    & .cell {
        width: 10vmin;
        height: 10vmin;
        font-size: 5vmin;
        line-height: 10vmin;
        vertical-align: top;
        margin: .5vmin;
        font-weight: bold;

        &:not(.block-a):not(.block-b):not(.block-plus) {
            background-color: lightgray;
        }

        border-radius: 3vmin;
        display: inline-block;
    }
}

#tutorialTips .tip {
    font-size: 4vh;
    height: 20vh;

    &:not(#welcome) {
        animation: 0.3s ease 0s fade-in;
    }

    &:not(.show) {
        display: none;
    }
}